footer {
  display: flex;
  justify-content: center;
  background-color: white;
  border: 2px solid var(--border);
  padding: 10px 0 10px;
  font-weight: 700;
  font-size: large;
  position: static;
  margin-top: auto;
  width: 100%;
}
