.home {
  .hero {
    background-image: url("/public/images/bank-tree.jpeg");
    background-size: cover;
    position: relative;
    height: 400px;
    background-position: 0% 33%;

    section {
      position: absolute;
      background: white;
      padding: 2rem;
      text-align: left;
      top: 50px;
      right: 50px;
      width: 300px;
      margin: 2rem;

      h2 {
        overflow: hidden !important;
        position: absolute !important;
        width: 1px !important;
      }

      p {
        font-weight: bold;
        font-size: 1.5rem;
        margin: 0;
      }

      .text {
        margin-bottom: 0;
        font-size: 1.2rem;
        font-weight: normal;
      }
    }
  }

  .features {
    display: flex;

    h2 {
      overflow: hidden !important;
      position: absolute !important;
      width: 1px !important;
    }

    div {
      flex: 1;
      padding: 2.5rem;

      img {
        width: 100px;
        border: 10px solid var(--greenButton);
        border-radius: 50%;
        padding: 1rem;
      }

      h3 {
        color: #222;
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}

/* *********** Responsive ********** */
/* *********** Tablet ********** */
@media (max-width: 767px) {
  .home {
    .features {
      flex-direction: column;
    }

    .hero section {
      top: 50%;
      left: 41.5%;
      transform: translate(-50%, -50%);
    }
  }
}
